@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    --primary-color:  #0029ff;
    --white: #ffffff;
    --light-grey:#c1c1c1;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    height: 0.1rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
  }


.sdlms-container {
    background-color: var(--white);
    width: 36rem;
    margin: 0 auto;
    padding: 2rem;
    border: 0.1rem solid #ccc;
    overflow: hidden;
}

.sdlms-input {
    /* margin-top: 15rem; */
}

.session-info {
    border: 0.5px solid #8f8d8dc7;
    width: 32rem;
    height: 110px;
    filter: drop-shadow(0px 2px 2px rgba(193, 193, 193, 0.25));
    border-radius: 0px 0px 2px 2px;
    margin-bottom: 3.4rem;
    transition: all 1s linear;
}

.slider{
    background-color: var(--white);
    position: absolute;
    right: -50rem;
    transition: all 1s linear;
    /* left:0; */
}

.txt-al-r {
    text-align: right;
}

.slide {
    right: 0 !important;
}

.bar-text{
    position: absolute;
    bottom: 3rem;
    left: 1.6rem;
    font-family: inherit;
    font-weight: 400;
}

#myProgress {
    width: 105.13px;
    height: 15.14px;
    background-color: grey;
    position: absolute;
    left: 15px;
    bottom: 12.19px;
    border-radius: 3px;
  }
  
  #myBar {
    width: 15%;
    height: 15.14px;
    background-color: #000;
    border-radius: 3px;
  }

.session-details{
    padding: 0 .8rem;
}

.session-title {
    background-color: var(--primary-color);
    color: var(--white);
}

.title {
    padding: 0.5rem 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    /* line-height: 32px; */
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.99);
}

.session-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
    margin: .5rem 0;
    /* margin: 1rem 0; */
}

.date , .time{
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    /* line-height: 23px; */
    text-transform: capitalize;
    /* identical to box height, or 230% */
    
    
    /* 1) Theme Color / Heading & Display - Text */
    
    color: #5E5873;
}

.session-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    /* identical to box height, or 180% */
    
    
    color: #000000;
    
}

.info-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    position: relative;
    /* overflow: scroll; */
}

.tabs {
    display: flex;
    height: 2.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.tabs > button {
    border: none;
    padding: 0.2rem 0.6rem;
    background-color: var(--white);
    color: var(--light-grey);
    border-radius: 2px 2px 0px 0px;
    line-height: 16px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.tabs .active {
    background-color: var(--primary-color);
    border: 0.2px solid #C1C1C1;
    color: var(--white);
}

.threadbuilder{
    border: 0.02rem solid #c1c1c14f;
    box-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 0.342);
    border-radius: 0px 2px 2px 2px;
    padding: .8rem 0;
}

/* .thread-container {
    display: none;
} */

.thread-header, .subthread-header, .summary-header , .interpret-header, .eagle-header, .example-header{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
border: 0.2px solid #3333331a;
background: rgba(0, 0, 0, 0.05);
filter: drop-shadow(0px 2px 2px rgba(193, 193, 193, 0.25));
    padding: 0.4rem  2rem;
    display: flex;
    justify-content: space-between;
}

.collapse-btn{
    margin: 0  1.2rem 0 0;
    width: 2rem;
    height: 2rem;
}

.threads{
    margin-bottom: 2rem;
}

.subthread-content, .summary-content, .interpret-content, .example-content{
    width: 100%;
    height: 6rem;
    resize: none;
    opacity: 0.5;
    background-color: var(--white);
    border: 0.1px solid #33333330;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 2px 2px;
    outline: none;
    color: #000;
}

.options {
    display: flex;
    justify-content: space-between;
}

.btn-sm {
    background: rgba(0, 41, 255, 0.02);
    border: 0.5px solid #0029FF;
    box-shadow: 0px 2px 2px rgba(193, 193, 193, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    border-radius: 2px;
    color: var(--primary-color);
    padding: 0.4rem 0.5rem;
    width: 67px;
    height: 20px;
}

.thread-end {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: capitalize;
}

.drop-down {
    background: #FFFFFF;
    border: 0.2px solid #ccc;
    box-shadow: 0px 2px 2px rgba(193, 193, 193, 0.25);
    border-radius: 2px;
    padding: .3rem;
}

.btn-round{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 0.5px solid #000000;
    color: var(--primary-color);
    margin: .8rem;
}

/* utility classes */

.mar-b-1{
    margin-bottom: 1rem;
}

.mar-lr-1{
    margin: 0 1rem;
}

.fl-r{
    float: right;
}

.fl-l{
    float: left;
}

.clearfix{
    clear: both;
}

.text{
    text-transform: capitalize;
    font-size: 1.4rem;
}

.hide{
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.flex {
    display: flex;
}

/*  */

.rigor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rigor-btn {
    width: 2rem;
    font-size: 1.4rem;
}

.rigor > span {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: 'Roboto';
    font-weight: 500;
}

.subthreadBtn {
    width: auto;
}

.exampleBtn {
    float: right;
}

.touch-icon {
    cursor: pointer;
}